---
import MainHead from "../components/MainHead.astro"
import Nav from "../components/Nav.astro"
import Footer from "../components/Footer.astro"
import Hero from "../components/Hero.astro"
import Languages from "../components/Languages.astro"
import FeaturedProjects from "../components/FeaturedProjects.astro"
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body class="bg-dark text-white">
    <Nav />
    <Hero />
    <Languages />
    <FeaturedProjects />
    <main class="wrapper"></main>
    <Footer />
  </body>
</html>
