---
import Portrait from "/assets/images/portrait.jpg"
---

<header class="max-w-screen-xl mx-auto py-64 relative">
  <div class="flex items-center justify-start relative">
    <img class="rounded-2xl border border-blue-400" id="portrait" src={Portrait} alt="Portrait photo of Yassine Zeriouh" height="250" width="250" />
    <div class="ml-16 -mt-5">
      <h1 id="hero-title" class="text-4xl font-bold text-primary">Hey, I'm Yassine</h1>
      <h2 id="hero-subtitle" class="text-3xl font-medium font-mono text-secondary">I code things for the web</h2>
      <div class="mt-5">
        <a href="mailto:yassine@zeriouh.io" class="text-2xl font-medium bg-primary hover:bg-dark px-4 py-2 transition rounded-lg highlight-white/10 hover:highlight-transparent hover:text-primary">
          Get in touch
        </a>
      </div>
    </div>
  </div>
</header>
